* {
    user-select: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
body {
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;

    .coming_soon {
        height: 300px;
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 0px 0px 5px rgb(0, 0, 0),
        0px 0px 0px 6px rgb(255, 255, 255);
    }


}
